@use "./abstract/" as abstract;
// @use "sass/base";
@use "./components/" as components;
@use "./layout/" as layout;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: abstract.$body-font;
  color: abstract.$text-color;
  scroll-behavior: smooth;
}
