@use "../abstract/" as abstract;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: abstract.$body-font;
    color: abstract.$text-color;
}

main{
    padding-left: 10%;  
    padding-right: 10%;
    background-color: abstract.$primary-color1;
}