@use "../abstract/" as abstract;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: abstract.$body-font;
    color: abstract.$text-color;
}


main{
    padding-left: 10%;  
    padding-right: 10%;
    background-color: abstract.$primary-color1;

    @include abstract.phone-size{
        padding-left: 5%;
        padding-right: 5%;
    }
}

section{
    padding-top: 15vh;

    @include abstract.phone-size{
        padding-top: 10vh;
    }
}

.results {
    display: none;
}