@use "../abstract/" as abstract;

.report {
    padding-top: 3rem;
    padding-left: 3rem;
    background-color: abstract.$primary-color1;
}

.biggest-improvement {
    .sectors {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .improvement-sector {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h4 {
            text-align: center;
            padding-top: 1.5rem;
        }

        .chart-container {
            width: 40%;
        }
    }
}

.numbered-donut {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    canvas {
        grid-area: 1 / 1;
    }

    h3 {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        grid-area: 1 / 1;
    }
}
